li {
  background-color: lightgrey;
  padding: 2px;
  list-style: none;
  border: 1px black solid;
}

ul {
  padding-left: 0px;
}

.completed {
  background-color: lightgreen;
}

.definedTask {
  width: 50%;
}

body {
  margin: 40px 10px;
}

#inDiv {
  margin: 10px;
}

.deletePopup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px black solid;
  background-color: #fc332dc4;
  padding: 10px;
  text-align: center;
}

#deleteWarning {
  font-size: 40px;
}

.deleteButton {
  margin-left: 10px;
  margin-right: 10px;
  height: 3em;
  width: 6em;
}

.inPopup {
  width: 50%;
  margin: 0;
  padding: 0;
}

.deleteTask {
  border: 1px black solid;
}